
a:link {
	color: maroon;
}
a:visited {
	color: maroon;
}
a:active {
	color: maroon;
}

body {
	color: black;
	background-color: white;
}

.maroon {
  color: maroon;
}
.boldmaroon {
  font-weight: bold;
  color: maroon;
}

.toggle-button {
  font-weight: bold;
  color: maroon;
  border: 1;
  padding: 2;
  margin: 2;
}

.toggle-button:hover {
  -webkit-box-shadow: 0px 5px 10px -4px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 10px -4px rgba(0,0,0,0.57);
  box-shadow: 5px 10px -4px rgba(0,0,0,0.57);
  /* transition: all 0.4s ease 0s; */
}

/* ERROR-HANDLER */
.error {
  color: red;
  background-color: white;
  padding: 10px;
  margin: 10px;
}

button.transparent {
  font-weight: normal;
  border: 0;
  background-color: transparent;
}

maroon {
  color: maroon;
}
boldmaroon {
  font-weight: bold;
  color: maroon;
}

body {
  /*
  font-family: 'Montserrat';
  */
  font-family: Verdana, sans-serif;
  font-size: 16px;
  letter-spacing: 0.25px;
  line-height: 125%;
}
/*
Image credit for the clock layer of the background image:
http://hdwallpapersfactory.com/city/clockwork-watches-clocks-time-desktop-hd-wallpaper-455121/
The formula/code/graph layers are my own.
*/
body.bg-block-formula-code-graph-background {
  background-image: url("/pix/bg-clock-formula-code-graph-je-vis.jpg");
}

titleinbody {
  font-weight: bold;
  color: maroon;
  font-size: 120%
}

h1 {
  font-weight: bold;
  color: maroon;
  font-size: 110%
}
h2 {
  font-weight: bold;
  color: maroon;
  font-size: 105%
}
h3 {
  font-weight: bold;
  color: maroon;
  font-size: 110%
}
.outlink:hover {
/*
  background: #d0d0d0;
*/
}
